:root {
  --main-color: #ff9800;
  --paragraph-color: #767676;
  --transition: 0.5s;
  --line-height: 1.6;
}

/* start global rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* start settings box */
.settings-box {
  position: fixed;
  top: 0;
  left: -210px;
  width: 210px;
  min-height: 100vh;
  background-color: white;
  z-index: 99;
  padding: 13px;
  transition: var(--transition);
  border: 1px solid #eee;
}

.settings-box.show {
  left: 0;
}

.settings-box .gear {
  position: absolute;
  right: -30px;
  top: 130px;
  width: 35px;
  height: 35px;
  background-color: white;
  cursor: pointer;
}

.settings-box .gear i {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.settings-box.show i {
  animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.settings-box .options-box {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin-bottom: 12px;
}

.settings-box .options-box h4 {
  color: var(--paragraph-color);
  font-size: 15px;
  margin-bottom: 10px;
}

.settings-box .options-box .colors-list,
.settings-box .options-box .background-list,
.settings-box .options-box .bullets-list {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.settings-box .options-box .colors-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}

.settings-box .options-box .colors-list li:first-child {
  background-color: #ff9800;
}

.settings-box .options-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}

.settings-box .options-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .options-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}

.settings-box .options-box .colors-list li:last-child {
  background-color: #4caf50;
}

.settings-box .options-box .colors-list .active {
  box-shadow: 0 0 0 4px white;
}

.settings-box button {
  border: none;
  background-color: #f44336;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.settings-box .options-box .background-list li,
.settings-box .options-box .bullets-list li {
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--transition);
}
.settings-box .options-box .background-list .active,
.settings-box .options-box .bullets-list .active {
  opacity: 1;
}

/* end settings box */


/* start bullets */
.bullets{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 30px;
  height: 210px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bullets span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  display: block;
  cursor: pointer;
}
.bullets span a{
  position: absolute;
  right: 42px;
  width: 110px;
  height: 30px;
  color: white;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
  margin-top: -10px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.bullets span a::after{
  content: "";
  position: absolute;
  border: 10px solid;
  right: -20px;
  border-color: transparent transparent transparent var(--main-color);
  transition: var(--transition);
}

.bullets span:hover a{
  opacity: 1;
  visibility: visible;
}

/* end bullets */


/* start landing page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
  align-items: baseline;
}

.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}

.landing-page .header-area .links-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing-page .header-area .links-container .links {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.landing-page .header-area .links-container .links.show{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 500px;
  top: 60px;
  left: 0;
  background-color: #777;
  z-index: 100;
}

@media (max-width: 767px) {
  .landing-page .header-area .links-container .links {
    display: none;
  }
}

.landing-page .header-area .links-container .links li a {
  color: white;
  font-size: 17px;
  transition: var(--transition);
  font-weight: 500;
  transform: scale(1);
}
.landing-page .header-area .links-container .links.show li a{
  font-size: 40px;
}

.landing-page .header-area .links-container .links li a:hover {
  color: var(--main-color);
}

.landing-page .header-area .links-container .toggle-menu {
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
}

@media (min-width: 768px) {
  .landing-page .header-area .links-container .toggle-menu {
    display: none;
  }
}

.landing-page .header-area .links-container .toggle-menu span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  left: 0;
  transition: var(--transition);
}

.landing-page .links-container .toggle-menu span:first-child {
  top: 0;
}

.landing-page .links-container .toggle-menu span:nth-child(2) {
  top: 8px;
}

.landing-page .links-container .toggle-menu span:last-child {
  top: 16px;
}

.landing-page .links-container .toggle-menu.show span:nth-child(2) {
  opacity: 0;
}

.landing-page .links-container .toggle-menu.show span:first-child,
.landing-page .links-container .toggle-menu.show span:last-child {
  top: 8px;
  background-color: var(--main-color);
}

.landing-page .links-container .toggle-menu.show span:first-child {
  transform: rotate(45deg);
}

.landing-page .links-container .toggle-menu.show span:last-child {
  transform: rotate(-45deg);
}

.landing-page .introduction-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 95%;
}

.landing-page .introduction-text h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 13px;
}

.landing-page .introduction-text h1 span {
  color: var(--main-color);
  transition: var(--transition);
}

.landing-page .introduction-text p {
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .landing-page .introduction-text h1 {
    font-size: 28px;
  }

  .landing-page .introduction-text p {
    font-size: 18px;
  }
}

/* end landing page */

/* start about us */

.about-us {
  padding: 50px 0;
}

.about-us .container {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.about-us .text {
  text-align: left;
  padding: 25px;
}

@media (max-width: 767px) {
  .about-us .container {
    flex-direction: column;
  }

  .about-us .text {
    text-align: center;
  }
}

.about-us .text h1 {
  margin: 0 0 15px 0;
  color: var(--main-color);
  transition: var(--transition);
}

.about-us .text p {
  color: var(--paragraph-color);
  line-height: var(--line-height);
  font-size: 17px;
}

.about-us .text,
.about-us .img {
  flex: 1;
}

.about-us .img img {
  max-width: 250px;
}

/* end about us */

/* start our skills */
.our-skills {
  padding: 50px 0;
  background-color: #eee;
}

.our-skills .header {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 40px;
  transition: var(--transition);
}

.our-skills .header h1 {
  margin: 0;
}

.our-skills .skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.our-skills .skills .skill-name {
  background-color: white;
  padding: 15px 25px 15px 0;
  display: flex;
  align-items: center;
}

.about-us .text h1 {
  margin: 0 0 15px 0;
}

.our-skills .skills .skill-name h2 {
  font-size: 16px;
  font-weight: 600;
  width: 120px;
  text-align: center;
}

@media (max-width: 767px) {
  .our-skills .skills .skill-name {
    padding: 15px;
    display: block;
  }

  .our-skills .skills .skill-name h2 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.our-skills .skills .skill-progress {
  flex: 1;
  background-color: #eee;
  border-radius: 7px;
  height: 30px;
}

.our-skills .skills .skill-progress span {
  display: block;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  transition: var(--transition);
}

/* end our skills */

/* start our gallery */
.gallery {
  padding: 50px 0;
  position: relative;
}

.gallery h1 {
  text-align: center;
  margin: 0 0 40px;
  color: var(--main-color);
  transition: var(--transition);
}

.gallery .container {
  text-align: center;
}

.gallery .container img {
  width: 200px;
  margin: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.popup {
  width: 660px;
  height: 425px;
  background-color: white;
  padding: 20px 25px;
  border-radius: 4px;
  position: relative;
}
@media (max-width: 767px) {
  .popup{
    width: 80%;
  height: auto;
  }
}

.popup .popupHeader {
  text-align: center;
  margin-bottom: 15px;
  font-size: 23px;
  color: var(--main-color);
  text-transform: capitalize;
}

.popup img {
  width: 100%;
}

.popup-close {
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 30px;
  color: white;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

/* end our gallery */

/* start time line */
.time-line {
  padding: 60px 0;
  background-color: #eee;
  position: relative;
}

.time-line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 80px);
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 45px;
}

.time-line .wrapper .year {
  background-color: var(--main-color);
  width: fit-content;
  margin: 25px auto 35px;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.time-line .wrapper .first-year,
.time-line .wrapper .second-year {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.time-line .wrapper .left-text,
.time-line .wrapper .right-text {
  background-color: white;
  padding: 15px;
  width: calc(50% - 30px);
  border-radius: 4px;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}

.time-line .wrapper .left-text::before,
.time-line .wrapper .right-text::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-color);
  right: 0;
  top: 33px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.time-line .wrapper .left-text::before {
  right: -40px;
}

.time-line .wrapper .right-text::before {
  left: -40px;
}

.time-line .wrapper .left-text::after,
.time-line .wrapper .right-text::after {
  content: "";
  position: absolute;
  border: 13px solid;
  top: 30px;
}

.time-line .wrapper .left-text::after {
  right: -26px;
  border-color: transparent transparent transparent white;
}

.time-line .wrapper .right-text::after {
  left: -26px;
  border-color: transparent white transparent transparent;
}

.time-line .wrapper .left-text h3,
.time-line .wrapper .right-text h3 {
  color: var(--main-color);
  margin-bottom: 12px;
}
.time-line .wrapper .left-text p,
.time-line .wrapper .right-text p {
  color: var(--paragraph-color);
  line-height: var(--line-height);
}

.time-line .wrapper .right-text {
  align-self: flex-end;
}

@media (max-width: 767px) {
  .time-line .wrapper .left-text,
  .time-line .wrapper .right-text {
    width: 100%;
  }
  .time-line .wrapper .left-text::before,
  .time-line .wrapper .right-text::before,
  .time-line .wrapper .left-text::after,
  .time-line .wrapper .right-text::after {
    display: none;
  }
}

/* end time line */

/* start our features */
.our-features {
  padding: 80px 0;
}

.our-features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  place-items: end;
  text-align: center;
}

.our-features > h1 {
  text-align: center;
  margin: 0 0 40px;
  color: var(--main-color);
  transition: var(--transition);
}

.our-features .box {
  padding: 0 15px;
}

.our-features .box img {
  height: 80px;
}

.our-features .box h1 {
  margin: 20px 0;
  font-size: 22px;
}

.our-features .box span {
  display: block;
  width: 45px;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--transition);
  margin: 0 auto 15px;
}

.our-features .box p {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: var(--line-height);
}

/* end our features */

/* start testimonials */
.testimonials {
  padding: 80px 0;
  position: relative;
}

.testimonials::before,
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.testimonials::before {
  background-color: var(--main-color);
  transition: var(--transition);
  left: 0;
}

.testimonials::after {
  background-color: #333;
  right: 0;
}

.testimonials h1 {
  margin: 0 0 35px;
  color: white;
}

.testimonials .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.testimonials .boxes .box {
  background-color: white;
  padding: 25px 20px;
}

.testimonials .boxes .box p {
  color: var(--paragraph-color);
  margin-bottom: 22px;
  line-height: var(--line-height);
}

.testimonials .boxes .box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonials .boxes .box span {
  color: var(--paragraph-color);
  font-size: 15px;
}

/* end testimonials */

/* start contact */
.contact {
  padding: 80px 0;
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  position: relative;
}

.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.contact .container {
  position: relative;
}

.contact h1 {
  text-align: center;
  margin: 0 0 60px;
  color: var(--main-color);
  transition: var(--transition);
}

.contact .form {
  display: flex;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contact .form {
    flex-direction: column;
  }
}

.contact .form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact .form form input:not(input[type="submit"]),
.contact .textarea textarea {
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  background-color: rgb(238 238 238 / 50%);
}

.contact .textarea textarea {
  width: 100%;
  height: 74%;
  margin-bottom: 10px;
}

.contact .textarea,
.contact .form form {
  flex: 1;
}

.contact .textarea input {
  width: 100%;
  padding: 9px;
  color: white;
  background-color: var(--main-color);
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* end contact */

/* start footer */
footer {
  padding: 30px 0;
  background-color: #333;
  text-align: center;
  color: white;
}

/* end footer */
